.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button.btn.float-right {
  background-color: #BA471E;
  color: white;
}

button.btn.mt-3 {
  background-color: #BA471E;
  color: white;
}

.btn-custom-warning {
  background-color: #BA471E !important;
  color: #fff !important;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #134b5f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  justify-content: last baseline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
